/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
	.nav_date{
		display:none;
	}
	.headerBottom .logoBlock{
		position:relative;
		left:0;
		top:0;
		width:290px;
	}
	.searchRadius{margin-bottom:20px;}
	.mediagallery{width:270px;}
	.ca-nav{
		position: relative;
		top: 160px;
		right:10px;
	}
	.wrapbar-top,
	.wrapbar-bot{visibility:hidden;}
	.wrapbar-mid{background:none;}
	.wrapbar.wrapbar-mid{
		border:1px solid #000;
		margin:0;
		overflow:hidden;
	}
	.videoBlock > div{
		margin-bottom:10px;
	}
	.form-horizontal .form-group{margin-left:0;}
	.featured-cycle .cycle-pager a {
		border-bottom: 1px solid #333;
		width: 127px;
		font-size:12px;
	}
	.featured-cycle .cycle-pager a {
		border-right: 1px solid #333 !important;
		color: #fff;
		display: block;
		float: left;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
	}
	.btnGroup{
		width:100%;
	}
	.setpBox{display:none;}
	input[type="file"]{margin-bottom:10px;}
	.navbar-default{
		float:right;
		background:none;
	}
	.navbar-collapse{
		width:320px;
	}
	.navbar-collapse ul{width:100%;}
	.navbar-collapse ul li.freeMembership{
		margin:0;
	}
	.navbar-default .navbar-nav li.freeMembership a{
		padding-left:0;
		padding-right:0;
	}
	.navbar-default .navbar-nav > li > a{padding-left:0;
		padding-right:0;}
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px){
	.headerBottom .logoBlock{position:relative;}
	.searchRadius{margin-bottom:20px; width:150px;}
	.mediagallery{width:650px;}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}