
@font-face {
    font-family:'ar_blancaregular';
    src: url('../fonts/ARBLANCA-webfont.eot');
    src: url('../fonts/ARBLANCA-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ARBLANCA-webfont.woff2') format('woff2'),
         url('../fonts/ARBLANCA-webfont.woff') format('woff'),
         url('../fonts/ARBLANCA-webfont.ttf') format('truetype'),
         url('../fonts/ARBLANCA-webfont.svg#ar_blancaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
