/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.activityWrap .activityBlock{
		width:100%;
	}
	.blogBannerBlock .blogBannerWrap{
		width:100%;
		margin:0;
		text-align:center;
		margin-bottom:10px;
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 767px) {
	.nav_date{
		display:none;
	}
	.headerBottom .logoBlock{
		position:relative;
		left:0;
		top:0;
		width:290px;
	}
	
	.searchRadius{margin-bottom:20px;}
	.mediagallery{width:270px;}
	.ca-nav{
		position: relative;
		top: 160px;
		right:10px;
	}
	.wrapbar-top,
	.wrapbar-bot{visibility:hidden;}
	.wrapbar-mid{background:none;}
	.wrapbar.wrapbar-mid{
		border:1px solid #000;
		margin:0;
		overflow:hidden;
	}
	.videoBlock > div{
		margin-bottom:10px;
	}
	.form-horizontal .form-group{margin-left:0;}
	.featured-cycle .cycle-pager a {
		border-bottom: 1px solid #333;
		width: 127px;
		font-size:12px;
	}
	.featured-cycle .cycle-pager a {
		border-right: 1px solid #333 !important;
		color: #fff;
		display: block;
		float: left;
		padding: 10px 0;
		text-align: center;
		text-decoration: none;
	}
	.btnGroup{
		width:100%;
	}
	.setpBox{display:none;}
	input[type="file"]{margin-bottom:10px;}
	.navbar-default{
		float:right;
		background:none;
	}
	.navbar-collapse{
		width:290px;
	}
	.navbar-collapse ul{width:100%;}
	.navbar-collapse ul li.freeMembership{
		margin:0;
	}
	.navbar-default .navbar-nav li.freeMembership a{
		padding-left:0;
		padding-right:0;
	}
	.navbar-default .navbar-nav > li > a{
		padding-left:0;
		padding-right:0;
	}
	
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.setpBox .locationBox{
		width:112px;
	}
	.navbar-nav > li{
		margin:0 24px;
	}
	.navbar-default .navbar-nav li.freeMembership a{
		padding-right:23px;
	}
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (max-device-width : 768px){
	.navbar-nav > li {
    	margin: 0 3px;
	}
	.headerBottom .logoBlock + div{margin-top:35px;}
	.areaWrap .areaBLock{margin-right: 17px;}
	.carousel{
		max-width:689px;
	}
	.navbar-default .navbar-nav li.freeMembership a {padding-right:13px;}
	
}
@media only screen 
and (min-device-width : 768px)
and (max-device-width : 1024px){
	.headerBottom .logoBlock{position:absolute;}
	.setpBox{float:right; margin-right:4px;}
	.searchRadius{margin-bottom:20px; width:84px;}
	.mediagallery{width:650px;}
	
	.mediagallery {
		border-bottom: 1px dotted #ddd;
		margin-bottom: 20px;
		padding-bottom: 10px;
		width: 694px;
	}
	.wrapbar-top,
	.wrapbar-bot,
	.wrapbar-mid{
		background:none;
	}
	.featured-cycle .cycle-slideshow{
		height:auto !important;
	}
	.featured-cycle .cycle-pager a{width:136px;}
	.featured-cycle .cycle-slideshow .slides-big-right{
		 float: none !important;
		height: 180px;
		width: 690px;
	}
	.featured-cycle .cycle-slideshow .slides-big-left {
		float: none !important;
		height: 405px;
		width: 690px;
	}
	.featured-cycle .cycle-slideshow .slides-right-top {
		border-right: 2px solid #222;
		float: left;
		height: 180px;
		width: 344px;
	}
	.featured-cycle .cycle-slideshow .slides-right-bottom {
		float: left;
		height: 180px;
		width: 344px;
	}
	.featured-cycle .cycle-slideshow .slides-right-bottom-left {
		height: 180px;
		width: 171px;
	}
	.featured-cycle .cycle-slideshow .slides-right-bottom-right {
		height: 180px;
		width: 171px;
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	.headerBottom .logoBlock{
		position:absolute;
	}
	.headerBottom .logoBlock + div{margin-top:0;}
	.searchRadius {
    	width: 66px;
	}
	
	.mediagallery{
		width:900px;
	}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	
}

/* Desktops and laptops ----------- */
@media only screen 
and (max-width : 1200px) {
	.areaWrap .areaBLock .textBlock p{
		font-size:12px;
	}	
}


@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}