/*
* Devaloped By Bhavesh Gohil
* Email: bhavesh.gohil99@gmail.com
* Skype: bhavesh.gohil7
*/

* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight:400;
	font-size:14px;
	background:#ebebeb;
}
p{
	font-size:14px;
}
#wrapper {
	margin: 0 auto;
}

.headerTop{
	background:#f3f3f3;
	border-bottom:1px solid #e9e9e9;
}
.headerTop .topNav{
	list-style:none;
	float:right;
	margin:0;
}
.headerTop .topNav li{
	float:left;
}
.headerTop .topNav li a{
	color:#2a2a2a;
	display:block;
	padding:15px 10px;
	text-decoration:none;
}
.headerTop .topNav li a:hover,
.headerTop .topNav li a.active{
	background:#e3dfe0
}
.headerTop .topSocial{
	float:right;
	margin:0;
	margin-left:20px;
}
.headerTop .topSocial li{
	float:left;
	margin:0 5px;
	line-height:50px;
}
.headerBottom{
	background:#fff;
}
.headerBottom .logoBlock{
	float: left;
	position: absolute;
	top: -41px;
	left: 30px;
}
.btnMain{
	background:#f6c53a;
	color:#000;
	padding:10px;
}
.btnGroup{
	margin:20px 0;
}
.setpBox{
	line-height:30px;
}
.setpBox .locationBox{
	height:30px;
	background:#fff;
	border:1px solid #c8c8c8;
	background-image:url(../images/step1Icon.png);
	background-position:center right;
	background-repeat:no-repeat;
	margin:0 15px;
	float:left;
}
.searchRadius{
	height:30px;
	width: 182px;
	margin-left: 12px;
}

.nav_date {background:#222;color:#fff;text-align:center;height:53px;width:60px;font-family:Lucida Sans Unicode, Lucida Grande, sans-serif}
.nav_date .gabfire_day {font-size:27px;padding-top:8px;display:block;line-height:21px;letter-spacing:-2px;}
.nav_date .gabfire_month {font-size:16px;letter-spacing:-1px;}	

nav.main-navigation {min-height:0;padding:0;display:block;margin:0;}
nav .mainnav {background:#cd1713;width:1030px;margin:0;height:53px;}
nav .mainnav li {float:left;display:inline;}
nav .mainnav li a {
	color:#fff;
	cursor:pointer;
	display:block;
	padding:8px 12px;
	line-height:16px;
	font-family:'ar_blancaregular';
	text-decoration:none;
	font-size:20px;
}
nav .mainnav li{
	border-left:1px solid #222222;
	padding: 0 46px;
	margin: 11px 0;
}
nav .mainnav li.freeMembership{
	border:0;
	margin:0;
	padding:0;
}
nav .mainnav li.freeMembership a{
	font-family:Arial, Helvetica, sans-serif;
	color:#fff;
	background:#3d9343;
	padding:19px 11px;
	font-size:16px;
	padding-left:12px;
}
nav .mainnav li.first{border-left:0;}
nav .mainnav > li.current_page_item a,
nav .mainnav > li.current-cat a, 
nav .mainnav > li.current-menu-item a,
nav .mainnav > li.current-cat-parent a {color:#eee;}
nav .mainnav li a:hover {color:#eee;}
nav .mainnav li li.current_page_item a,
nav .mainnav li  li.current-cat a, 
nav .mainnav li li.current-menu-item a,
nav .mainnav li li.current-cat-parent a,
nav .mainnav li li.current-cat-parent a:hover,
nav .mainnav li li.current_page_item a:hover,
nav .mainnav li  li.current-cat a:hover, 
nav .mainnav li li.current-menu-item a:hover,
nav .mainnav li li.current-cat-parent a:hover {color:#222;background:#efefef}
nav .mainnav li > ul {position:absolute;margin-left:10px;z-index:9999;min-width:14em;width:auto;visibility:hidden}
nav .mainnav li:hover > ul {visibility:visible;}
nav .mainnav li ul li {float:none;background-color:#fff;color:#444;display:block;width:auto;}
nav .mainnav li ul li a {color:#444;font:normal 12px arial, sans-serif;border-right:1px solid #eee;border-bottom:1px solid #eee;height:auto;height:20px;line-height:20px;padding:3px 10px;white-space:nowrap;text-transform:none}
nav .mainnav li ul li a:hover {color:#fff;background-color:#FE4E47;}
nav .mainnav > li + li {border-top:0;}
nav .mainnav li ul.fallback {display:none;}
nav .mainnav ul ul {margin:-27px 0 0 196px}
nav .mainnav li:hover ul.fallback {display:block;}
/* adjust nav arrows */
nav .mainnav li.has-child-menu {background: url(framework/images/arrow-superfish-down_bright.png) no-repeat right center;margin-right:10px}
nav .mainnav li li.has-child-menu{margin-right:0}
nav .mainnav li li.has-child-menu > a {background: #fff url(framework/images/arrow-superfish-right.png) no-repeat 98%;}
nav .mainnav li li.has-child-menu > a:hover {background: #FE4E47 url(framework/images/arrow-superfish-right_bright.png) no-repeat 98%;}

/*///////////////// MEGA DROPDOWN //////////////////*/
nav .mainnav li.megadp .dropdown_col {Text-transform:none;width: 470px;float:left;z-index:9999;position:absolute;left:-999em;margin-left:10px;}
nav .mainnav li.megadp .dropdown_col a {text-decoration:none;}
/* We have two wrapper div within mega dropdown window */
nav .mainnav li.megadp .dropdown_inner {border-top:none;font:13px Arial, Helvetica, sans-serif;line-height:17px;background:#fff;border: 2px solid #F2F3F1;padding-top:6px;}
/* Position relative is required to display dropdown window on correct position */
nav .mainnav li.megadp:hover { position:relative; }
/* For the column at the very right on navigation; use align_right class together with dropdown_col to keep dropdown within wrapper */
nav .mainnav li.megadp .align_right {/* Rounded Corners */-moz-border-radius: 0px 0px 5px 5px;-webkit-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;}
nav .mainnav li.megadp:hover .align_right {left:auto;right:-1px;top:auto;}
nav .mainnav li.megadp:hover .align_left{ left:-1px; top:auto; }
/* Subcategory style within dropdown window */
nav .mainnav li.megadp .greybox {overflow:hidden;padding:0;margin:0 10px 0 5px;width:170px;float: left;border:none;}
nav .mainnav li.megadp .greybox li {border-bottom:1px dotted #ddd;padding:2px 0;overflow:hidden;width: 170px;display: block;}
nav .mainnav li.megadp .greybox li:hover {}
nav .mainnav li.megadp .greybox li.feed {height:18px;}
nav .mainnav li.megadp .greybox li a {background: none ;float: left;display:block;border:0;color:#545353;padding:1px 0;}
nav .mainnav li.megadp .greybox li i {float:left;font-size:12px;line-height:20px;margin-right:5px;}
nav .mainnav li.megadp .greybox li a:hover {background: none;color: #000;}
nav .mainnav li.megadp .greybox li span.post-count{overflow: hidden;width: 30px;height: 18px;font-size: 10px;line-height: 18px;margin-top: 4px;display: block;float: right;text-align: center;background: #eee;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;color: #545353;text-shadow: 1px 1px 1px #fff;}
nav .mainnav li.megadp .greybox li:hover span.post-count{background: #2EB8DB;text-shadow: 1px 1px 1px #ccc;color: #fff;}
nav .mainnav li.megadp .greybox li.feed a {display: block;float: left;font-size: 10px;padding-left: 11px;line-height: 19px;color: #222;background: url('images/nav-rss.png') no-repeat 0 5px;}
nav .mainnav li.megadp .greybox li.feed a:hover {color: #222;background: url('images/nav-rss.png') no-repeat 0 -9px;}
/* dropdown entries wrapper and the classes in dropdown entries */
nav .mainnav .dropdown_entries {float:left;overflow:hidden;border-left:1px dotted #ddd;padding:0 10px 10px 9px;width:261px;}
nav .mainnav .dropdown_entries a {padding:0px;}
.dropdown_entries .featuredpost {overflow:hidden;padding-bottom:5px;margin-bottom:5px;border-bottom:1px dotted #ddd}
.dropdown_entries img {border:1px solid #222}
.dropdown_entries h2.posttitle {margin-bottom:5px}
.dropdown_entries h2.posttitle a {color:#222;padding:0;text-shadow: 1px 1px 1px #fff;font:bold 12px Arial,Helvetica,Sans-serif;line-height:17px;letter-spacing:0;}
.dropdown_entries h2.posttitle a:hover {color:#000;text-decoration:underline;background:none}
nav .mainnav .dropdown_top {border-bottom:1px solid #ddd;margin-bottom:1px;overflow:hidden}
nav .mainnav .dropdown_bottom {background:#eee url(images/dot.png) repeat-y center center;overflow:hidden}
nav .mainnav .dropdown_ad {width:468px;display:block;margin:0 auto}
/* END ///////////////// MEGA DROPDOWN //////////////////*/				

nav.second-navigation {min-height:0;padding:0;display:block;margin:0;border-right:1px solid #222}
nav .secondnav {background:#5E5E5E;width:1079px;margin:0;height:23px}
nav .secondnav li {float:left;display:inline;}
nav .secondnav li a {color:#fff;cursor:pointer;display:block;padding:4px 15px;line-height:13px;font:bold 12px arial, 'Open Sans',arial, sans-serif;text-transform:uppercase;text-decoration:none;white-space:nowrap}
nav .secondnav > li.current_page_item a,
nav .secondnav > li.current-cat a, 
nav .secondnav > li.current-menu-item a,
nav .secondnav > li.current-cat-parent a {color:#ddd;}
nav .secondnav li a:hover {color:#eee;}
nav .secondnav li li.current_page_item a,
nav .secondnav li  li.current-cat a, 
nav .secondnav li li.current-menu-item a,
nav .secondnav li li.current-cat-parent a{color:#eee;background:#666}
nav .secondnav li a:hover {color:#eee;}
nav .secondnav li ul {border-top:1px solid #666;position:absolute;margin-left:10px;z-index:9999;min-width:14em;width:auto;visibility:hidden}
nav .secondnav li:hover > ul {visibility:visible;}
nav .secondnav li ul li {float:none;background-color:#7e7e7e;color:#fff;display:block;width:auto;}
nav .secondnav li ul li a {color:#fff;font:normal 12px arial, 'Open Sans',arial, sans-serif;border:1px solid #666;border-top:none;height:auto;height:20px;line-height:20px;padding:2px 10px 2px 5px;white-space:nowrap;text-transform:none}
nav .secondnav li ul li a:hover {color:#fff;background-color:#FE4E47;}
nav .secondnav > li + li {border-top:0;}
nav .secondnav li ul.fallback {display:none;}
nav .secondnav ul ul {margin:-26px 0 0 195px}
nav .secondnav li:hover ul.fallback {display:block;}
/* adjust nav arrows */
nav .secondnav li.has-child-menu {background: url(framework/images/arrow-superfish-down_bright.png) no-repeat right center;margin-right:10px}
nav .secondnav li li.has-child-menu{margin-right:0}
nav .secondnav li li.has-child-menu > a {background: #7e7e7e url(framework/images/arrow-superfish-right.png) no-repeat 98%;}
nav .secondnav li li.has-child-menu > a:hover {background: #FE4E47 url(framework/images/arrow-superfish-right_bright.png) no-repeat 98%;}

.carousel {margin-bottom:0;padding:7px 0;background:#222;width:100%;float:left;}
.carousel .container {position:relative;z-index:9;}
.carousel-control {height:28px;margin-top:0;font-size:22px;font-weight:bold;text-shadow:0 1px 1px rgba(0,0,0,.4);z-index:10;top:0;left:0;opacity:1;background:#222;border:0;line-height:25px;-webkit-border-radius: 0px;-moz-border-radius: 0px;border-radius: 0px;}
.carousel-control.left {opacity:1;padding-left:5px;width:30px;}
.carousel-control.right {right:auto;left:25px;opacity:1;width:35px;}
.carousel-control.left:focus,.carousel-control.right:focus{outline:0}
.carousel .item {height:14px;padding-left:60px;}
.carousel .item h2 {font:normal 13px/13px "Franklin Gothic Medium", "Arial Narrow Bold", Arial, sans-serif;color:#fff;margin:0;color:#fff;}
.carousel .item h2 a{color:#efefef;}
.carousel .item h2 a:hover{color:#fff}

.nav_advertise  {float:right;width:99px;text-align:center;border:1px solid #222;border-right:0;margin:0;padding:0;}
.nav_advertise a {color:#fff;background:#5e5e5e;padding:4px 0;font-size:13px;display:block;line-height:18px;text-decoration:none}
.nav_advertise a:hover {background:#000}

.bannerWrap{background:#fff;}
.featured-cycle .cycle-slideshow {border:2px solid #222;border-bottom:none;border-top:none;overflow:hidden;height:412px}
.featured-cycle .cycle-slideshow .pull-left, .cycle-slideshow .pull-right {overflow:hidden;position:relative;}

.featured-cycle .cycle-slideshow .slides-big-left {border-right:2px solid #222;border-bottom:2px solid #222;width:654px;height:412px}	
.featured-cycle .cycle-slideshow .slides-big-left img {width:702px;height:412px}	
.featured-cycle .cycle-slideshow .slides-big-right {border-bottom:2px solid #222;width:432px}

.featured-cycle .cycle-slideshow .slides-right-top {border-bottom:2px solid #222;width:432px;height:185px;}
.featured-cycle .cycle-slideshow .slides-right-top img {width:432px;height:185px;}

.featured-cycle .cycle-slideshow .slides-right-bottom {width:432px;height:225px;}
.featured-cycle .cycle-slideshow .slides-right-bottom-left {width:215px;height:225px;border-right:2px solid #222;}
.featured-cycle .cycle-slideshow .slides-right-bottom-left img {width:215px;height:225px;}
.featured-cycle .cycle-slideshow .slides-right-bottom-right {width:215px;height:225px;}
.featured-cycle .cycle-slideshow .slides-right-bottom-right img {width:215px;height:225px;}

.featured-cycle .cycle-slideshow img {position:absolute;z-index:1;}
.featured-cycle .icon-play {position:absolute;z-index:2;top:10px;right:10px;font-size:30px;background:#222;color:#fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding:3px 15px;}
.featured-cycle .featured-cycle .smaller {font-size:22px;padding:2px 10px;}
.featured-cycle .cycle-slideshow .slider-caption {position:absolute;z-index:2;bottom:0;left:0;background: url(images/bg-transparent.png);width:100%;padding:7px 0}
.featured-cycle .cycle-slideshow .slider-caption .fea_posttitle {margin:0;padding:0 7px;font:bold 20px 'Open Sans Condensed', sans-serif;line-height:19px}
.featured-cycle .cycle-slideshow .slider-caption .fea_posttitle a {color:#eee;}
.featured-cycle .cycle-slideshow .slider-caption .fea_posttitle a:hover {color:#fff;text-decoration:underline}
.featured-cycle .cycle-slideshow .slider-caption  p {color:#fff;padding:4px 7px 0;margin:0}

.featured-cycle .cycle-pager {
	background:#222;
	display:block;
	border:3px solid #222;
	border-bottom:2px solid #222;
	float:left;
	width:100%;
	border-top:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
.featured-cycle .cycle-pager a {color:#fff;text-align:center;display:block;float:left;border-right:1px solid #333 !important;width:216px;padding:10px 0;text-decoration:none}
.featured-cycle .cycle-pager a.cycle-pager-active {background:#cd1713;}
.featured-cycle .cycle-pager a.last-cycle-pager {border-right:0 !important;}


.containArea{
	padding-top:20px;
	padding-bottom:20px;
	background:#fff;
}

.sideBox{
	border:1px solid #d6d5d5;
}
.sideBox .sideHead{
	background:#429253;
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
}
.sideBox .sideHead h4{color:#fff;}
.sideBox .sideContain{}
.sideNav{
	margin-left:20px;
	list-style:none;
	padding:0;
	font-size:18px;
}
.sideNav li{
	margin:5px 0;
}
.sideNav li.active a{color:#ef3624;text-decoration:underline;}
.sideNav li a{color:#181818;}
.sideBox .sideFoot{
	background:#f6c53a;
	text-align:center;
	padding-top:8px;
	padding-bottom:8px;
}
.sideBox .sideFoot a{color:#fff; text-decoration:underline; font-size:16px;}


.rightContain [class*="col-sm"]{
	padding-left:0;
}
.rightTop{
	padding-bottom:30px;
	border-bottom:1px dotted #dddddd;
}
.green{color:#019a22;}
.red{color:#ef3624;}

.joinList{
	list-style:none;
}
.joinList li{
	border-top:1px dotted #dddddd;
	padding:5px 0;
}


.rightBottom{
	padding:20px 0;
	border-bottom:1px dotted #dddddd;
}
.seeAll-btn,
.seeAll-btn:hover{
	background:#f6c53a;
	padding:5px 15px;
	color:#000;
	display:block;
	font-size:18px;
}
/* ={ OVERFLOW WRAPPER FOR GALLERY CAROUSEL } */
.wrapbar {margin-left:-10px;margin-right:-10px;padding-left:24px;padding-right:24px;display:block}
.wrapbar-top {background:url(../images/wrapbar-curve.png) top center;height:9px;}
.wrapbar-mid {background:url(../images/wrapbar.png) repeat-y;}
.wrapbar-bot {background:url(../images/wrapbar-curve.png) bottom center;height:12px;}
/* ={ MEDIA GALLERY CAROUSEL } */
.catname{font-size:20px;}
.media-section {margin:30px 0;}
.media-section .wrapbar-mid {padding-top:10px;}
.mediagallery{position:relative;margin:10px auto 0;width:1060px;height:150px;}
.mediagallery .ca-wrapper{width:100%;height:100%;position:relative;overflow:hidden;}
.mediagallery .ca-item{position:relative;float:left;width:232px;height:100%;text-align:center;}
.mediagallery .ca-item-main{padding-right: 20px;margin-right:20px;background:#fff;overflow:hidden;border:0; line-height:135px;}
.mediagallery .ca-item-main .posttitle {font-size:19px;line-height:19px}
.mediagallery .ca-more{position: absolute;bottom: 0;right:0px;padding:4px 15px;font-weight:bold;background: #efefef;text-align:center;color: #222;font-family: "Georgia","Times New Roman",serif;font-style:italic;text-shadow:1px 1px 1px #fff;}
.mediagallery .ca-nav span{width:16px;height:16px;background:transparent url(../images/arrows.png) no-repeat top left;position:absolute;top:0;margin-top:-35px;right:20px;text-indent:-9000px;opacity:0.7;cursor:pointer;z-index:100;}
.mediagallery .ca-nav span.ca-nav-next{background-position:top right;top:0;left:auto;right:0;}
.mediagallery .ca-nav span:hover{opacity:1.0;}	


.videoBlock{
	margin-bottom:20px;
}
.videoBlock .videoTitle{
	position:absolute;
	top:0;
	right:15px;
	background:url(../images/videoTitleBG.png) repeat;
	padding:5px 15px;
	margin:0;
	color:#fff;
	font-size:20px;
}
footer .footTop{
	background:#3a3a3a;
	padding:20px 0;
}
footer .footTop h4{
	color:#fff;
	font-size:24px;
	text-transform:uppercase;
	padding-bottom:10px;
	border-bottom:1px solid #2b2b2b;
	margin-bottom:10px;
}
footer .footTop p{
	font-size:14px;
	color:#fff;
	text-transform:uppercase;
}
.newsletterBlock{
	margin:20px 0;
}

.footLinks{}
a.footbtn{
	background:#f6c53a;
	color:#000;
	padding:10px;
	display:block;
	float:left;
	font-size:18px;
}
.quickLinks{
	list-style:none;
	font-size:16px;
	float: left;
	margin-right: 40px;
}
.quickLinks li{}
.quickLinks li a{
	color:#fff;
}
.footbottom{
	background:#222222;
	padding:10px 0;
}
.footbottom p{color:#fff;}
.footNav{ list-style:none;}
.footNav li{}
.footNav li a{color:#fff;}

/* sign up box */

.signUpBlock{}
.signUpBlock h3{
	font-weight:700;
	border-bottom:1px solid #e8e8e8;
}
.reg-btn,
.reg-btn:hover{
	background:#ffc011;
	border-radius:0;
	border:none;
	font-size:18px;
}
.sign-btn,
.sign-btn:hover{
	background:#2b8044;
	border-radius:0;
	border:none;
	font-size:18px;
	color:#fff;
}
btn:hover{text-decoration:underline;}

/* Bootstrap */

.form-control {
  border-radius: 0px;
}
.memberSign label.control-label{
	
}