/*
Theme Name: Socialclubhub
Theme URI: 
Author: iWS
Author URI: 
Description: 
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.pager li {
    padding: 0px 2px;
}

.pagination{
    
}
.pagination h2.screen-reader-text{
    display: none;
}
.pagination .nav-links{
    width: 100%;
}

.pagination .nav-links {
        padding-left: 0;
        margin: 20px 0;
        text-align: center;
        list-style: none
    }
    .pagination .nav-links li {
        display: inline
    }
    .pagination .nav-links a,
    .pagination .nav-links span {
        display: inline-block;
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px
    }
    .pagination .nav-links a:hover,
    .pagination .nav-links a:focus {
        text-decoration: none;
        background-color: #eee
    }
    .pagination .nav-links a.next,
    .pagination .nav-links a.next>span {
        float: right
    }
    .pagination .nav-links a.prev,
    .pagination .nav-links a.prev>span {
        float: left
    }
    .pagination .nav-links span.current,
    .pagination .nav-links span.current:hover,
    .pagination .nav-links span.current:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff
    }
    
    
    .borderBottom {
           border-bottom: 1px dotted #ccc;
  padding-bottom: 17px;
    }
    
    .mainpostrow {
        padding-left: 0px;
          border-bottom: 1px dotted #ccc;
  padding-bottom: 17px;
    }
    
    .posttypetax {
        padding-left: 0px;
    }
    
    .posttypetax.withimage {
        padding-top: 5px;
    }
    
    .posttypetax .byline {
        padding-left: 10px;
    }
    
    .posttypetax .posted-on {
        
    }
    
    .posttypetax .posted-on span.screen-reader-text {
        
    }
    
    .posttypetax .posted-on a, .posttypetax .posted-on a time {
        padding-left: 3px;
    }
    
    .posttypetax .posted-on a time.published{
        
    }
    
    .posttypetax .posted-on a time.updated{
        font-weight: bold;
    }
    
    
    
    .posttypetax .cat-links {
        padding-left: 10px;
    }
    
    .posttypetax .cat-links span.screen-reader-text {
        
    }
    
    .posttypetax .cat-links a {
        padding-left: 3px;
    }
    
    
    .posttypetax .tags-links {
        padding-left: 10px;
    }
    
    .posttypetax .tags-links span.screen-reader-text {
        
    }
    
    .posttypetax .tags-links a {
        padding-left: 3px;
    }
    
    
    .posttypetax .comments-link {
        padding-left: 10px;
    }
    .posttypetax .comments-link a {
        font-weight: bold;
    }
    
    
    .news-pager {
        padding-top: 15px;
    }
    #nnav-single{
        padding-top: 35px;
    }
    #nnav-single .previous {
        /*padding-left: 0px;*/
    }
    
    #nnav-single .next {
        /*padding-right: 0px;*/
    }
    #nnav-single .previous a{
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        
    }
    
    #nnav-single .next a{
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        
    }
    
    .author-info {
        border-top: 1px dotted #ccc;
        border-bottom: 1px dotted #ccc;
  padding-bottom: 17px;
    }
    
    .post-navigation,.comment-navigation {
         padding-top: 3px;
         clear: both;
    }
    
    .post-navigation h2.screen-reader-text, .comment-navigation h2.screen-reader-text {
        display: none;
    }
    
    .post-navigation .nav-links, .comment-navigation .nav-links {
        padding-top: 20px;
    }
    
    .post-navigation .nav-links .nav-previous, .comment-navigation .nav-links .nav-previous {
        padding-left: 0px;
    }
    
    .post-navigation .nav-links .nav-next, .comment-navigation .nav-links .nav-next {
        padding-right: 0px;
    }
    .post-navigation .nav-links .nav-previous a, .comment-navigation .nav-links .nav-previous a{
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        
    }
    
    .post-navigation .nav-links .nav-next a, .comment-navigation .nav-links .nav-next a{
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
        
    }
    
    .comments-area {
        padding-left: 0px;
    }
    
    ul.comment-list {
        padding: 10px 0px 0px 0px;
        list-style: none;
    }
    
    
    
    
    ul.comment-list li{
       
        list-style: none;
        background: #f7f7f7;
          border: 1px solid #E0E0E0;
          border-radius: 5px;
          margin: 0px 0px 15px 0px;
    }
    
    ul.comment-list li .commentmain{
          padding: 14px 0px 18px 0px;
    }
    
    .commentowner {
       
    }
    
    .commentownerdata,.commentmetadata, .commenthold{
       
    }
    
    .commenthold {
        color: #DF0707;
        font-weight: 600;
    }
    
    .commentmain .reply a{
        padding: 5px 22px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 15px;
    }
    
    .commentownerdata cite.fn{
        font-weight: bold;
    }
    
    .comment-text {
        padding-top:15px; 
    }
    
    ul.comment-list li ul.children {
        padding: 10px 25px 0px 25px;
        
    }
    
    ul.comment-list li ul.children li {
          background: #FCFCFC;
    }
    
    ul.comment-list li ul.children li.parent {
        
    }
    
    .comment-meta {
        
    }
    
    .comment-meta img.avatar {
        
    }
    
    .no-comments {
        font-weight: bold;
        color:red;
        background: rgb(255, 236, 236);
        border: 1px solid rgb(228, 164, 164);
        border-radius:5px;
        padding: 5px;
    }
    
    .comment-respond{
        padding: 15px;
        width:100%;
        background: #f7f7f7;
          border: 1px solid #E0E0E0;
          border-radius: 5px;
    }
    
    .comment-respond .comment-reply-title{
        font-weight: bold;
    }
    
    .searchboxdiv {
        border: 1px solid #ccc;
  padding: 5px;
  border-radius: 8px;
    }
    
    .searchboxdiv .left h2 {
          margin-top: 10px;
    }
    
        .searchboxdiv .right {
         margin-top: 10px;   
        }

        .searchboxdiv .right h3{
            margin-top: 3px;
        }
        
        
     
        .coupon_bg {
              background: rgb(255, 255, 183);
  border: 2px dashed rgb(61, 147, 67);
  padding: 4px;
 
  font-weight: 600;
}
 